.calc-quiz-roof__container {
  padding: 20px;

  .calc-quiz-title__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
  }

  .calc-quiz-list-button-img__contanier {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .calc-quiz-list-button__contanier {
    display: flex;
    flex-direction: column;
    padding-left: 30px;
  }

  /* Стили для текущего вопроса */
  .calc-quiz-roof__questions-list li.active {
    color: black;
    font-weight: bold;
    font-size: large;
  }

  /* Стили для пройденных вопросов */
  .calc-quiz-roof__questions-list li.completed {
    color: green;
  }

  /* Стили для неотвеченных вопросов */
  .calc-quiz-roof__questions-list li {
    color: gray;
  }

  .calc-quiz-roof__button-container {
    display: flex;
    gap: 10px;
    input {
      overflow: auto;
      resize: none;
      background: #f6f6f6;
      border: 1px solid RGB(140, 186, 232);
      border-radius: 8px 0 0 8px;
      padding: 8px 0 8px 10px;
    }
    input:focus {
      outline: none;
      border: 1.5px solid RGB(25, 118, 210);
    }
  }

  // .back-button:hover {
  //   background-color: #e74c3c;
  // }

  // .next-button:hover {
  //   background-color: #218c54;
  // }

  .calc-quiz-roof__progress-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #3498db;
    gap: 10px;
  }

  .calc-quiz-roof__progress-bar {
    flex-grow: 1;
    height: 30px;
  }

  /* Media Queries для планшетов */
  @media (max-width: 768px) {
    .calc-quiz-list-button-img__contanier {
      flex-direction: column;
      padding-left: 0px;
      padding-bottom: 15px;
    }

    .calc-quiz-list-button__contanier {
      width: 300px;
      padding-left: 50px;
    }
  }

  /* Media Queries для телефонов */
  @media (max-width: 480px) {
    .calc-quiz-list-button-img__contanier {
      padding-bottom: 10px;
    }
  }
}
