.calc-quiz-result__container {
  padding: 20px;

  .calc-quiz-title__container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-around;
  }

  .calc-quiz-img-text__container {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .calc-quiz-text__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 30px;
  }

  .calc-quiz-result__result {
    font-weight: bold;
    font-size: large;
  }
}
@media (max-width: 768px) {
  .calc-quiz-title__container {
    font-size: 13px;
    gap: 10px;
  }
  .calc-quiz-img-text__container {
    flex-direction: column;
    padding-left: 0px;
  }
  .calc-quiz-text__container {
    width: 300px;
    padding-left: 0px;
  }
}

/* Media Queries для телефонов */
@media (max-width: 480px) {
  .calc-quiz-title__container {
    justify-content: flex-start;
  }
}
