.result__container {
  text-align: center;

  .title__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .img-text__container {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  img {
    width: 100%;
    max-width: 300px;
  }

  ol {
    padding-inline-start: 0px;
    text-align: left;
    list-style-type: none;
  }

  .result__button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .result__button:hover {
    background-color: #2980b9;
  }
}
@media (max-width: 768px) {
  .title__container {
    justify-content: center;
    gap: 10px;
    h2 {
      font-size: 1.4rem;
    }
  }
  .button {
    width: 60px;
  }
  .img-text__container {
    padding-left: 0px;
  }
}

/* Media Queries для телефонов */
@media (max-width: 480px) {
  .title__container {
    justify-content: flex-start;
    gap: 10px;
    h2 {
      font-size: 1.4rem;
    }
  }
  .button {
    width: 50px;
  }
  .img-text__container {
    flex-direction: column;
    padding-left: 0px;
  }
}
