#calc-quiz {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

.calc-quiz-ol {
  line-height: 1.3rem;
  padding-inline-start: 0px;
  text-align: left;
  list-style-type: none;
}

.calc-quiz-qalc-img {
  width: 100%;
  max-width: 300px;
  max-height: 300px;
}

.calc-quiz-app__container {
  position: relative;
  height: 450px;
  width: 768px;
  margin: 0 auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

/* Media Queries для планшетов */
@media (max-width: 768px) {
  .calc-quiz-app__container {
    width: 480px;
    height: 100%;
  }
}

/* Media Queries для телефонов */
@media (max-width: 480px) {
  .calc-quiz-app__container {
    width: 100%;
  }
}
