.result__container {
  text-align: center;

  .title__container {
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .img-text__container {
    display: flex;
    align-items: center;
    padding-left: 30px;
  }

  .text__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  img {
    width: 100%;
    max-width: 300px;
  }

  ol {
    padding-inline-start: 0px;
    text-align: left;
    list-style-type: none;
  }

  .result__button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .result__button:hover {
    background-color: #2980b9;
  }
}
