.type__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 20px;
}

.type__title {
  place-self: center;
  grid-column: span 3;
}

.type__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3498db1f;
  color: #000000;
  padding: 10px;
  border: 1px #3498db solid;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;
}
.type__buttons:hover {
  background-color: #297fb98a;
}

.type__image {
  width: 100px;
  height: 100px;
}

@media screen and (max-width: 768px) {
  .type__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .type__title {
    place-self: center;
    grid-column: span 2;
  }
}

@media screen and (max-width: 480px) {
  .type__container {
    grid-template-columns: 1fr;
  }
  .type__title {
    place-self: center;
    grid-column: span 1;
  }
}
